* {
    margin: 0;
    padding: 0;
}

.sidebar {
    z-index: 2;
    display: block;
    position: fixed;
    height: 100%;
    transition: all 0.5s ease;
}

.dimmer {
    z-index: 1;
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0%;
    background-color: black;
    transition: all 0.5s ease;
    pointer-events: none;
}

.active {
    opacity: 50%;
    pointer-events: all;
}

.placeholder {
    
}

.menubar {
    height: 70px;
}

.menubar>ul {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    row-gap: 10px;
}

.menubar>ul>li {

}